*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    background-color: aquamarine;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    padding: 20px 0px 20px 20px;
}
.calendario{
    padding: 40px 25px 30px 25px;
}
.hospital {
    background-image: url(../img/Hospital.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;
    height: 350px;
} 
.hospital  h2{
    text-align: center;
    font-size: 50px;
    margin: 30px 0px 30px 0px;
    color: rgb(0, 0, 0);

}
.hospital  p{
    text-align: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.olvidar{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}
.olvidar p{
    font-size: 40px;
    padding: 0px 0px 30px 0px;
}
.olvidar button{
    width: 150px;
    height: 60px;
    font-size: 25px;
}
.opciones {
    margin: 40px 0px 80px 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.opciones select{
    height: 60px;
    width: 230px;
    font-size: 20px;
}
.opciones select option{
    font-size: 20px;
}
.formulario{
    display: flex;
    justify-content: center; 
    align-items: center;
}
#resultadoDoctores{
    display: flex;
    justify-content: center; 
    align-items: center;
}
.formulario select{
    height: 60px;
    width: 230px;
    font-size: 20px;
}
.formulario select option{
    font-size: 20px;
}
.formulario button{
    width: 100px;
    height: 55px;
}
#atencion{
    margin: 30px 30px 30px 0px;
}
#resultadoDoctores div img {
    width: 500px; 
    height: 400px; 
    margin: 30px 0px 20px 0px;
}
#resultadoDoctores div li{
    margin-left: 50px;
    font-size: 25px;
}
.horasMañana{
    display: flex;
    align-items: center;
}
.horasMañana button{
    margin: 15px 30px 25px 30px;
    padding: 15px 15px 15px 15px;
}
.turno p{
    margin: 15px 0px 15px 90px;
    font-size: 23px;
}
.turno .confirmar input{
    width: 150px;
    height: 40px;
    margin: 0px 0px 20px 90px;
}
tr{
    width: 90px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #5c5959;
    text-align: center;
    padding: 8px;
}
td{
    background-color: #f2f2f2;
    width: 200px;
}
th {
    background-color: #f2f2f2;
}
.letrero{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    font-size: 35px;
}
.letrero h3{
    margin: 30px 0px 30px 0px;
}
.letrero p{
    margin: 10px 0px 10px 0px;
}
.farmacia{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.farmacia .articuloUno  {
    width: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: start;
    border: 7px aquamarine;
    background-color: rgb(255, 255, 255);
    margin: 35px 0px 0px 30px;
}

.farmacia .articuloDos  {
    border: none;
    width: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: start;
    background-color: rgb(255, 255, 255);
    margin: 35px 0px 0px 0px;
}
.farmacia .articuloTres  {
    border: none;
    width: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: start;
    border: 7px aquamarine;
    background-color: rgb(255, 255, 255);
    margin: 30px 0px 30px 30px;
}
.farmacia .articuloCuatro  {
    border: none;
    width: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: start;
    border: 7px aquamarine;
    background-color: rgb(255, 255, 255);
    margin: 30px 0px 30px 0px;
}

.farmacia div img{
    width: 300px;
}
#resultados img{
    width: 200px;
}
.consulta{
    margin: 30px 0px 30px 45px;
}
.consulta h3{
    font-size: 45px;
    text-align: center;
}
.consulta p{
    font-size: 30px;
    margin: 30px 0px 30px 0px;
    text-align: center;

}
.recuperarDatos{
    padding-left: 50px;
}
.recuperarDatos p{
    font-size: 30px;
    margin: 10px 0px 10px 0px;
}
.recuperarDatos ul li{
    font-size: 30px;
    padding: 10px 0px 10px 0px;
}