*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    background-color: aquamarine;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    
}
.calendario{
    padding: 40px 25px 30px 25px;
}
.hospital {
    background-image: url(../img/Hospital.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;
    height: 350px;
} 
.hospital  h2{
    text-align: center;
    font-size: 50px;
    margin: 30px 0px 30px 0px;
    color: rgb(0, 0, 0);

}
.hospital  p{
    text-align: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.opciones {
    width: 600px;
    margin: 30px 0px 0px 30px;
   
}
#atencion{
    margin: 30px 30px 30px 0px;
}
#resultadoDoctores div img {
    width: 500px; 
    height: 400px; 
    margin: 30px 0px 20px 0px;
}
#resultadoDoctores div li{
    margin-left: 50px;
    font-size: 25px;
}
.farmaciaOnline{
    margin: 30px 30px 30px 45px;
    font-size: 50px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #5c5959;
    text-align: center;
    padding: 8px;
}
td{
    background-color: #f2f2f2;

}
th {
    background-color: #f2f2f2;
}
.farmacia{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.farmacia .articuloUno div{
    border: none;
    width: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: start;
}
.farmacia .articuloDos div{
    border: none;
    width: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: start;
}
.farmacia .articuloTres div{
    border: none;
    width: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: start;
}
.farmacia .articuloCuatro div{
    border: none;
    width: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: start;
}
.farmacia div {
    border: 7px black solid;
    width: 500px;
    background-color: rgb(255, 255, 255);
    margin: 30px;
}
.farmacia div img{
    width: 300px;
}
#resultados img{
    width: 200px;
}
.consulta{
    margin: 30px 0px 30px 45px;
}
.consulta h3{
    font-size: 45px;
    text-align: center;
}
.consulta p{
    font-size: 30px;
    margin: 30px 0px 30px 0px;
    text-align: center;

}